<div role="listitem">
  <div class="content">
    <div>
      <ul class="inline" style="margin-bottom: var(--spacer-2)">
        <li>
          <strong><%= comment.comment_type %></strong>
        </li>
        <li><%= comment.author ? link_to(comment.author.name || comment.author.email, admin_user_url(comment.author)) : comment.author_name %></li>
        <li><%= comment.updated_at.strftime("%d %b %H:%M %Y") %></li>
      </ul>
      <%= markdown(comment.content) %>
      <% if comment.author_name == "suspend_sellers_other_accounts" %>
        <% related_uids = related_suspended_accounts_for_comment(comment) %>
        <% if related_uids.any? %>
          <div style="margin-top: var(--spacer-2); padding: var(--spacer-2); background-color: var(--color-background-secondary); border-radius: var(--border-radius);">
            <strong>Related suspended accounts:</strong>
            <ul style="margin: var(--spacer-1) 0 0 var(--spacer-3);">
              <% related_uids.each do |uid| %>
                <li><%= link_to("User #{uid}", admin_user_url(uid)) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
