<%= header_section(@subject) %>
<div>
  <p>
    <%= @seller_name %> would like you to become an affiliate for <%= @product_name %>. If you accept, you'll earn <%= @affiliate_percentage_text %> commission on every sale you refer.
  </p>

  <div style="text-align: center; margin: 30px 0;">
    <%= link_to "View invitation", "#{PROTOCOL}://#{DOMAIN}/products/affiliated",
        class: "button accent",
        style: "display: inline-block; padding: 12px 24px; background-color: #ff90e8; color: white; text-decoration: none; border-radius: 4px;",
        clicktracking: "off" %>
  </div>

  <p style="text-align: center; color: #666; font-size: 14px;">
    You'll need to log in to your Gumroad account to respond to this invitation.
  </p>

  <h3>What happens if you accept?</h3>
  <p>
    Once you accept this invitation, you'll get access to your unique affiliate links and be able to start earning commissions by sharing <%= @product_name %> with your audience.
  </p>

  <h3>How does the affiliate program work?</h3>
  <p>
    When someone clicks your affiliate link, we'll place a cookie on their device. If they make a purchase within 30 days, you'll receive <%= @affiliate_percentage_text %> commission on that sale.
  </p>

  <h3>Questions about the affiliate program?</h3>
  <p>
    You can learn more about how our affiliate program works here:
    <%= link_to HomePageLinkService.affiliates, HomePageLinkService.affiliates, clicktracking: "off" %>
  </p>
</div>
